@import url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff');

*{
    font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
}

html, body{
    width: 100%;
    height: 100%;
}

.rayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    width: 550px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.title {
    width: 100%;
    font-size: 30px;
    text-align: center;
}


.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inputbox{
    width: 100%;
    height: 70px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.input{
    width: 100%;
    height: 70px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.btn {
    width: 250px;
    height: 100%;
    margin-left: 10px;
    color: aquamarine;
    background-color: white;
    border: 1px solid aquamarine;
    border-radius: 5px;
}
.countbox{
    width: 100%;
    height: 70px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#countinput{
    width: 100%;
    border: none;
    padding-left: 10px;
}
#time {
    color: tomato;
    margin: 20px;
}

.join{
    width: 100%;
}

#joinbtn {
    width: 100%;
    height: 70px;
    background-color: aquamarine;
    color: white;
    border: 1px solid aquamarine;
    border-radius: 5px;
}